{% extends 'base.html.twig' %}

{% block title %}Hello ClubController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1 class="text-center">Historique </h1>
        <ul>
            <br><br><li>10 mai 1930 : création du LSOC </li>
            <br><li> 1942 : renommer Loisir Sportif Olympique de Colombes</li>
            <br><li>Entre 1928 et 1988  il y a eu 15 présidents différents</li>
            <br><li>Depuis 2019 plusieurs ouverture de sections d'âge diférentes </li>
            <br>
        </ul>


    </div>

{% endblock %}
