{% extends 'base.html.twig' %}

{% block title %}Hello ClubController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper p-3 mb-2 bg-secondary-subtle text-emphasis-secondary rounded">
        <h1 class="text-center">Mot du président </h1>

        <p>
            <ul><br>
            Résumé de la saison 2022/23 de la section volley-ball du club Loisirs sportif de Colombes :
<br><br><li>
            L'équipe séniors féminine a réalisé une performance exceptionnelle en ne perdant aucun match et en accédant directement à la division supérieure, le championnat régional. Une réussite qui souligne la qualité et la détermination de l'équipe.
</li><br><li>
            Du côté des séniors masculins, l'équipe a terminé à la 4e place de son championnat et vise la montée en championnat régional pour la saison 23/24. Un objectif ambitieux qui témoigne de l'engagement de l'équipe masculine.
            </li>
            Les sections jeunes, comptant plus de 80 licenciés, ont également brillé au cours de la saison :
            <br><br> <li>
            Les M13 féminines ont montré de belles performances en championnat 4x4, tandis que les M15 et 18 féminines, avec deux équipes dans chaque catégorie, ont connu un grand succès. A noter que l'équipe 1 des M15 s'est hissé à la première de son championnat et a représenté le club au prestigieux tournoi des premières.
            </li><br><li>
            Les M15/18 masculins ont réalisé une saison prometteuse malgré le manque d'expérience global de l'effectif, laissant entrevoir un potentiel encourageant pour la saison suivante.
            </li>
            Les sections jeunes continuent de se développer, avec notamment l'inscription d'une équipe M21 masculine pour la saison 23/24, annonçant une croissance continue et passionnante pour le LSO Colombes.
        </ul>
        </p>
    </div>

{% endblock %}
