{% extends 'base.html.twig' %}

{% block title %}Hello EntrainementController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h4 class="text-center">Les horaires de nos entrainements</h4><br>
    <div class="row ">
        <div class="col-4 ">
            <div id="list-example" class="list-group ">
                <a class="list-group-item list-group-item-action" href="#list-item-1">Sénior féminin</a>
                <a class="list-group-item list-group-item-action" href="#list-item-2">Sénior masculin</a>
                <a class="list-group-item list-group-item-action" href="#list-item-3">Loisir</a>
                <a class="list-group-item list-group-item-action" href="#list-item-4">M21 masculin</a>
                <a class="list-group-item list-group-item-action" href="#list-item-5">M18 féminin </a>
                <a class="list-group-item list-group-item-action" href="#list-item-6">M18 masculin</a>
                <a class="list-group-item list-group-item-action" href="#list-item-7">M15 féminin </a>
                <a class="list-group-item list-group-item-action" href="#list-item-8">M15 masculin</a>
                <a class="list-group-item list-group-item-action" href="#list-item-9">M13 féminin </a>

            </div>
        </div>
        <div class="col-8">
            <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
                <h6 id="list-item-1" class="text-center bold">Les séniors féminin:</h6>

                <div class="border border-3 rounded-4 p-3 mb-2 bg-danger text-white p-2 text-dark bg-opacity-75 fs-6">
                    <p class="text-center">
<br>
                        Le lundi 20h00/22h30, gymnase Charles Peguy <br>
                        Le mercredi 19h30/21h15, gymnase Lakanal<br>
                        Le vendredi 20h00/22h30, gymnase Ambroise Paré<br>
                        <br>
                        Maélys

                    </p>
                </div>
                <br>

                <h6 id="list-item-2" class="text-center"> Les séniors masculin:</h6>
                <div class="border border-3 rounded-4 p-3 mb-2 bg-danger text-white p-2 text-dark bg-opacity-75 fs-6">
                    <p class="text-center">
                        <br>
                        Le lundi 20h00/22h30, gymnase Charles Peguy <br>
                        Le mercredi 19h30/21h15, gymnase Lakanal<br>
                        Le vendredi 20h00/22h30, gymnase Ambroise Paré<br>
                        <br>
                        Joël
                    </p>
                </div>
                <br>
                <h6 id="list-item-3" class="text-center"> Les loisirs:</h6>
                <div class="border border-3 rounded-4 p-3 mb-2 bg-danger text-white p-2 text-dark bg-opacity-75 fs-6">
                    <p class="text-center">
                        <br>
                        Le jeudi 20h00/22h30, gymnase Charles Peguy <br>
                        <br>
                        Frédéric
                    </p>
                </div>
                <br>
                <h6 id="list-item-4" class="text-center"> M21 masculin:</h6>
                <div class="border border-3 rounded-4 p-3 mb-2 bg-danger text-white p-2 text-dark bg-opacity-75 fs-6">
                    <p class="text-center">
                        <br>

                        Le mardi 19h30/21h15, gymnase Lakanal<br>
                        Le vendredi 20h00/22h30, gymnase Ambroise Paré<br>
                        <br>
                        Nathan
                    </p>
                </div>
                <br>
                <h6 id="list-item-5" class="text-center"> M18 féminin:</h6>
                <div class="border border-3 rounded-4 p-3 mb-2 bg-danger text-white p-2 text-dark bg-opacity-75 fs-6">
                    <p class="text-center">
                        <br>
                        Le mardi 19h30/21h15, gymnase Lakanal<br>
                        Le vendredi 19h00/20h45, gymnase Lakanal<br>
                        <br>
                        Elodie
                    </p>
                </div>
                <br>
                <h6 id="list-item-6" class="text-center"> M18 masculin:</h6>
                <div class="border border-3 rounded-4 p-3 mb-2 bg-danger text-white p-2 text-dark bg-opacity-75 fs-6">
                    <p class="text-center">
                        <br>
                        Le mercredi 19h30/21h15, gymnase Lakanal<br>
                        Le vendredi 19h00/20h45, gymnase Lakanal<br>
                        <br>
                        Grégorie
                    </p>
                </div>
                <br>
                <h6 id="list-item-7" class="text-center"> M15 féminin:</h6>
                <div class="border border-3 rounded-4 p-3 mb-2 bg-danger text-white p-2 text-dark bg-opacity-75 fs-6">
                    <p class="text-center">
                        <br>
                        Le mercredi 18h/19h30, gymnase Lakanal<br>
                        Le vendredi 17h30/19h00, gymnase Lakanal<br>
                        <br>
                        Soleyne
                    </p>
                </div>
                <br>
                <h6 id="list-item-8" class="text-center"> M15 masculin:</h6>
                <div class="border border-3 rounded-4 p-3 mb-2 bg-danger text-white p-2 text-dark bg-opacity-75 fs-6">
                    <p class="text-center">
                        <br>
                        Le mercredi 18h/19h30, gymnase Lakanal<br>
                        Le vendredi 17h30/19h00, gymnase Lakanal<br>
                        <br>
                        Sacha
                    </p>
                </div>
                <br>
                <h6 id="list-item-9" class="text-center"> M13 féminin:</h6>
                <div class="border border-3 rounded-4 p-3 mb-2 bg-danger text-white p-2 text-dark bg-opacity-75 fs-6">
                    <p class="text-center">
                        <br>
                        Le mercredi 18h/19h30, gymnase Lakanal<br>
                        Le vendredi 17h30/19h00, gymnase Lakanal<br>
                        <br>
                        Sarah
                    </p>
                </div>
                <br>



            </div>
        </div>
    </div>


</div>
{% endblock %}
